<div class="container">
    <div class="row">
        <h1 class="h1 text-center">{{title}}</h1>
        <div class="nav navbar navbar-expand-sm bg-danger">
            <div class="navbar-nav">
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/">Home</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-secondary" routerLink="/employees/add">Add Employee</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-success" routerLink="/validation/template">Template Validation</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-success" routerLink="/validation/reactive">Reactive Forms</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-success" routerLink="/admin/dashboard">Dashboard</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-success" routerLink="/admin/user">User Info</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-success" routerLink="/admin/rights">App Rights</a>
                </li>
            </div>
        </div>
    </div>
</div>
