<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proj2_SampleDataLib.Properties.Settings.FaiTrainingConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FaiTraining;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>