{{selectedEmp | json}}

<div class="card">
    <div class="card-header">
        <h2>{{selectedEmp.empName}}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <img [src]="selectedEmp.imageFile"/>
            </div>
            <div class="col-sm-6">
                <input text="text" class="form-control my-4" disabled [value]="selectedEmp.empId"/>
                <input text="text" class="form-control my-4" disabled [value]="selectedEmp.emailAddress"/>
                <input text="number" class="form-control my-4"disabled [value]="selectedEmp.phoneNo"/>
                <div class="row">
                    <button class="btn btn-danger" routerLink="/">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
