body{
    background-color: bisque;
    color : brown;
    font-size: 14pt;
}

h1, h2, nav{
    text-align: center;
}

div{
    display: inline-block;
    width: 45%;
    border: 2px dotted darkcyan;
    vertical-align: top;
    padding: 10px;
    margin: 10px;
}

a{
 width: 100px;
 height: 50px;
 background-color: burlywood;
 color: darkgreen ;
 margin: 5px;
 padding: 5px;  
}

a:hover{
    background-color: darkgreen;
 color: burlywood ;
}

footer>p{
    font-size: 0.8em;
    font-style: italic;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ul.menu{
    list-style-type: none;
}

.menu > li{
    display: inline-block;
}

li > a{
    width: 100px;
    height: 50px;
    background-color: burlywood;
    color: darkgreen ;
    margin: 5px;
    padding: 5px;  
}

td, tr{
    height: 45px;
    padding: 5px;
}


.sentence{
    /* text-transform: capitalize; */
    /* text-transform: uppercase; */
    text-transform: lowercase; 
}

.card{
    border : 2px solid blue;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 2px 2px red;
}

